{% extends "layout.njk" %}

{% block head %}
    <title>Portfolio - Igor Magalhães</title>
{% endblock%}

{% block content %}
    <div id="wrapper">
        <h1>Web Development</h1>
    </div>
    <section class="cards">
        {% for item in items%}
            <div class="card">
                <div class="card__image-container {{ 'incomplete-wrapper' if item.incomplete }}">
                    <img src="{{item.img_url}}" alt="item.title">
                    {% if item.finished %}
                        <div class="incomplete">Incomplete</div>
                    {% endif%}
                </div>
                <div class="card__content">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                </div>
                <div class="card__links">
                    <p class="card__website"><a href="{{item.website_url}}" target="_blank">Visit website</a></p>
                    <p class="card__github"><a href="{{item.github_url}}" target="_blank">GitHub</a></p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
